<ion-menu contentId="main-content" type="overlay">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>เมนู</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item routerLink="/home" routerDirection="root">หน้าแรก</ion-item>
      <ion-item routerLink="/about" routerDirection="forward">เกี่ยวกับ</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-page id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Todo App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <router-outlet></router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-buttons class="ion-justify-content-around">
        <ion-button [routerLink]="['/home']">
          <ion-icon name="list-outline" slot="icon-only"></ion-icon>
        </ion-button>
        <ion-button [routerLink]="['/about']">
          <ion-icon name="information-circle-outline" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-footer>
</ion-page>
